#aa
{
    position: absolute;

    top: 100px;
    left: 5px;
}
#bb
{
    
        position: absolute;
    
        top: 100px;
        left: 400px;
    

}
#button1
{
    position: fixed;

      bottom: 30px;
      right: 5px;
}
#button2
{
    position: fixed;

      bottom: 30px !important;
      left: 5px;
}