.App {
  text-align: center;
 
}
#tek{
  position: fixed;
   top: 50px;
  left: 300px;
  width: 935px;
  height: 608px;
  -webkit-filter: opacity(60%);
  filter: opacity(60%);
}
.icons
{
  word-spacing :50px;
  position: absolute !important;
  bottom: -170px;
    left:650px;
    color: black;
    font-size: 20px;
   
}
.acik
{
    position: absolute !important;
    bottom: -200px;
    left:500px;

}
#tek1
{
  position: fixed !important;
  top: 350px;
  left:700px;
  color: lightblue;
}
.ort{
  position: fixed;
   top: 200px;
  left:540px;
  font-size: 50px;
}
.ort1{
  position: fixed;
   top: 260px;
  left:640px;
  font-size: 30px;
}
.marka
{
  position: absolute;

  top: 15px;
  right: 10px;
  font-size: 50px;
}


.Yazılar
{
  
  border:100%;
  border-style: solid;
  margin-left:250px;
  width: 1000px;
  position: fixed;

      top: 0;
      left: 0;
}
#btn{
      background-color: whitesmoke !important;
      position: fixed;
      bottom: 20px;
      left: 0;
      width: 100%;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
